{% extends 'app/base.html' %}

{% block contents %}

<table border="1">
  <tr>
    <th>pk</th>
    <th>VideoID</th>
    <th>Title</th>
    <th>Category</th>
    <th>Episode</th>
    <th>Day</th>
    <th>twitter_already</th>
  </tr>
  {% for video in manage_list %}
    <tr>
      <td>{{ video.pk }}</td>
      <td>{{ video.youtube_video_id }}</td>
      {% comment %} {% if video.category_id.category_eng %}
        <td><a href="{% url "video_info" category_eng=video.category_id.category_eng youtube_video_episode=video.youtube_video_episode %}">{{ video.youtube_video_title }}</a></td>
      {% elif %}
        <td><a href="{% url "video_info_un" pk=video.pk %}">{{ video.youtube_video_title }}</a></td>
      {% endif %} {% endcomment %}
      <td>{{ video.category_id.category_eng }}</td>
      <td>{{ video.youtube_video_episode }}</td>
      <td>{{ video.youtube_video_day }}</td>
      <td>{{ video.manage_twitter_already }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
