{% extends 'book/base.html' %}
{% load static %}


{% block top %}
{% endblock %}

{% block info %}

{{ book_info.title }}



{% endblock %}


{% block only_main %}
<div class="row">

  <div class="col-36">
    <div class="l_toc table_of_contents text-end">
      {% comment %} <div class="text-end"> {% endcomment %}
        <label class="bg-teal rounded-top text-white fw-blod fs-6 fs-md-5" for="tocopen">
          <svg class="h-100" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
            目次
        </label>
      {% comment %} </div> {% endcomment %}
        <input id="tocopen" class="table_of_contents mt-md-2" type="checkbox" checked>
        <div id="toc" class="text-left toc_container bg-white border-teal-my-1 text-start"></div>
        <div class="m-2 m-md-3 m-lg-5"></div>
    </div>
  </div>




  <div class="col-36">

    <a class="fs-6 text-decoration-none text-dark">{{ book_info.post_day|date:"Y/m/d" }}</a>
    <h2 class="decoration_simple my-3 my-md-4 mb-lg-3">{{book_info.title}}</h2>
            {% comment %} <h3 class="d-inline my-auto">{{book_info.title}}</h3> {% endcomment %}



    <div class="my-lg-5 my-5 w-50 ratio ratio-138x200 border-gray-dark border mx-auto" style="max-width: 350px; min-width:200px;">
        {{ book_info.amazon_url|safe }}
    </div>




    <div class="fs-6_5">
      <div class="table-responsive">
        <table class="table table-borderless">
          
          <tr class="d-inline">
            <td class="text-center p-0" style="width: 70px;" >[著者]</th>
            <td class="text-start p-0" style="width: 100px;" >著者</th>
            <td class="text-start p-0" style="width: 20px;" >：</th>
            <td class="text-start p-0" style="width: 150px;" >{{ book_info.Author_info }}</th>
          </tr>

          <tr class="d-inline">
            <td class="text-center p-0" style="width: 70px;" >[本]</th>
            <td class="text-start p-0" style="width: 100px;" >発行日</th>
            <td class="text-start p-0" style="width: 20px;" >：</th>
            <td class="text-start p-0" style="width: 150px;" >{{ book_info.issue }}</th>
          </tr>


          <tr class="d-inline">
            <td class="text-center p-0" style="width: 70px;" >[本]</th>
            <td class="text-start p-0" style="width: 100px;" >ページ数</th>
            <td class="text-start p-0" style="width: 20px;" >：</th>
            <td class="text-start p-0" style="width: 150px;" >{{ book_info.pages }}</th>
          </tr>


          <tr class="d-inline">
            <td class="text-center p-0" style="width: 70px;" >[本]</th>
            <td class="text-start p-0" style="width: 100px;" >カテゴリー</th>
            <td class="text-start p-0" style="width: 20px;" >：</th>
            <td class="text-start p-0" style="width: 150px;" ><span class="text-decoration-none py-0 px-01 border-gray-dark border text-white bg-{% for item2 in book_info.category_info.all %}{{item2.color}}{%endfor%} rounded">{% for item2 in book_info.category_info.all %}{{item2.get_category_display}}{%endfor%}</div></th>
          </tr>


          <tr class="d-inline">
            <td class="text-center p-0" style="width: 70px;" >[出版社]</th>
            <td class="text-start p-0" style="width: 100px;" >出版社</th>
            <td class="text-start p-0" style="width: 20px;" >：</th>
            <td class="text-start p-0" style="width: 150px;" >{{ book_info.publisher_info.publisher }}</th>
          </tr>


          <tr class="d-inline">
            <td class="text-center p-0" style="width: 70px;" >[出版社]</th>
            <td class="text-start p-0" style="width: 100px;" >レーベル</th>
            <td class="text-start p-0" style="width: 20px;" >：</th>
            <td class="text-start p-0" style="width: 150px;" >{{ book_info.publisher_label_info.label }}</th>
          </tr>

          </table>
        </div>
      </div>









    {% comment %} <div class="fw-bold fs-6 fs-lg-5 my-1 my-md-2 py-0 text-truncate-2 h-48 d-table w-100"><a class="text-dark align-middle d-table-cell text-decoration-none" href="{% url 'book:book_info' book_info.post_day %}">{{ book_info.title }}</a></div> {% endcomment %}


      <div class="py-3 py-md-3"></div>
      <div class="border-bottom-mygreen mt-1 w-75 mx-auto"></div>
      <div class="py-1 py-md-2"></div>
    </div>


    {{ book_info.contents|safe }}

{% comment %} ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ブロックスタート■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ {% endcomment %}


<div class="py-3">
        <h3 class="d-inline my-auto">あらすじ</h3>
    <p class="pb-3 pt-3">
      　主人公、僕。僕は刑務所で働く20代男性。そこで出会う山井という少年。山井はある犯罪を犯し、刑務所に収容された。彼は控訴せず、このままだと死刑という罰を受けることになる。
      なぜ山井は控訴しないのか、又、僕はなぜ看守という仕事を選択したのか。読み進めていくと明らかになる、僕の中の感情、山井の中の感情。どこか欠けてしまった人間の、黒い葛藤と明るい希望の物語。
   かてごりー

        <h3 class="d-inline my-auto">こんな方にお勧め</h3>
    <p class="pb-3 pt-3">
      　主人公、僕。僕は刑務所で働く20代男性。そこで出会う山井という少年。山井はある犯罪を犯し、刑務所に収容された。彼は控訴せず、このままだと死刑という罰を受けることになる。
      なぜ山井は控訴しないのか、又、僕はなぜ看守という仕事を選択したのか。読み進めていくと明らかになる、僕の中の感情、山井の中の感情。どこか欠けてしまった人間の、黒い葛藤と明るい希望の物語。
    </p>

    </div>

      <h2 class="decoration_simple my-3 my-md-4 mb-lg-3">登場人物と感想</h2>
        <h3 class="d-inline my-auto">僕（ぼく）</h3>
          

            <p class="my-5">
            　主人公、僕。名前無い。そこもまた読者の視点が変わるような、独特な表現。主人公僕は、刑務所に収容された人間を管理する、
            看守という仕事をしている。そして経験を経て死刑執行の役割も担うことになる。
            </p>

            <p class="my-5">
            　最初の引用は以下。
            </p>

            <div>
              <figure>
                <blockquote>
                  <p>　俺はなんでこんなことしてるんだろう</p>
                  <figcaption class="blockquote-footer text-end mt-2">
                    {{ book_info.title }}（P53）<cite title="Source Title"></cite>
                  </figcaption>
                </blockquote>
              </figure>
            </div>


            <p class="my-5">　これは、繁華街の居酒屋で、主人公僕と看守の主任の2人での会話の時に、主任が言った言葉。この会話の全容は、勤続年数9年になる主人公僕に、死刑の任務がそろそろ来ることを告げることなんだけど。
            その死刑の任務について、主任自身が今まで行ってきたことも話している。そんな感じで、主任から死刑の任務について経験談を聞く主人公僕なんだけど、その時主任が漏らしたぶっちゃけの一言がこの言葉。</p>

            <p class="my-5">　俺は、この物語の全てはこの言葉からスタートしたと思っている。「なんで俺こんなことしてるんだっけ？」っという疑問。この疑問は、この物語ではすごく深い言葉だ。だって、
            この疑問の答えの先に、主人公僕の希望があるのだから。</p>

            <p class="my-5">　主任の経験談はこうだ。主任はかつて、ある死刑囚を担当していた。その死刑囚は、何人も人を殺した結果、死刑が確定してるんだけど、主任が当時その死刑囚と初対面したとき、
            クリスチャンになっていた。人殺しとは思えないほどの聖教信者。<br>
            　主任は、そのクリスチャンが死刑を執行されるまでの1年半の間、そのクリスチャンを担当していた。もちろん担当中は、
            目を合わせるし、口もきくし、一緒に雑談をして笑いあうこともあっただろう。そしてついにクリスチャンの死刑執行の日になった。死刑囚に死刑の日程が聞かされることはない。よって、
            死刑当日のクリスチャンはいつもと変わらないクリスチャンだった。<br>
            　そして看守と一緒に執行室へ向かい、執行室に入った。死刑の手順はこうだ。執行室に入った死刑囚に、複数人の刑務官が力押しで、
            手錠かけたり、足を縛ったり、首に縄をかけたりする。準備が整ったら、部屋の外に出て複数人で同時にボタンを押して、首にかける縄の真下にある、踏み板が落ちる。これで完了。複数人同時で押す理由は、
            誰のボタンによって死刑執行したのかわからなくするため。執行人への配慮。って感じ。<br>
            　そしてクリスチャンは、執行室に入った時、執行の日だと察したのか、暴れた。いつものクリスチャンではなくなった。そう、アンチクリスチャン、略してアンチャンになった。当時、
            クリスチャンがアンチャンに化けた時、周りには刑務官が複数人いたんだけど、アンチャン結構強い。当時の主任が、前線に立ってアンチャンを押さえつけ、死刑執行。その押さえつける過程で主任が感じたのが<strong>「俺はなんでこんなことしてるんだろう」</strong>
            という言葉。<br>
            　でもこれ実際に主任の気持ちになったら、誰もが感じることだと思うんだよね。だって、いくらアンチャンとはいえ、１年以上も担当して、その間雑談もするし、その中でお互いの性格とか、好き嫌いとか、思想とか、わかってくるじゃん。
            そうなるともう赤の他人とは言えないよね。普通は情が湧く。そんな相手の死刑をする仕事。しかも普段と違ってラリっちゃってる状態のその人を、無理やり。確かに何やってんだろうってなるわ。
            そして死刑が終わってから、検事（命令人的な人？）に言われた言葉が、「よくやったな」だよ。これはもう、やるせないよね。そんな感じのイベントが、タンタンと起きる。そんな仕事が、看守の仕事。って感じの主任の話。
            </p>




            <p class="my-5">　主任の話はここで終わり。ここからは、主人公僕の話。過去に起こした罪、失った友人、そして主人公の心の奥にある闇。色々あるんだけど、ここでは主人公僕の闇の部分について触れてみよう。
            物語の最後の方に姿を現したのが次の文だ。</p>





            <div>
              <figure>
                <blockquote>
                    <p>　僕は、自分が何をしているのかわからなかった。苦しげな声が聞こえた時、自分を何かに預けるように、女の首を絞めた。目の前が暗くなり、逃げようとする女を押さえながら、（略）。</p>
                    <figcaption class="blockquote-footer text-end mt-2">
                    {{ book_info.title }}（P148）<cite title="Source Title"></cite>
                  </figcaption>
                </blockquote>
              </figure>
            </div>

            <p class="my-5">　これが主人公の持つ闇の部分。そして主人公だけでなく、死刑囚の佐久間（主人公僕が担当していた死刑囚）や、真下（主人公僕の中学の同級生。高校に入り自殺する）も、この闇の部分を持っていた。<br>
            　この文はたしか、物語の最後の方に、主人公僕と佐久間が病院でもめた後日、主人公僕が一人でショットバーで飲んだくれて外で座り込んでいた時に、通りかかった女を、５万と引き換えに買春（売春=女が売る事。その逆で男が買うこと。）
            してセックスの最中の文だ。しかも雨の中の外、駐車場で。<br>
            　外で座り込むちょっと前に、主人公僕は、こんなことを思っていた。"僕は、現在の自分に違和感を感じなかった"（P144）。この言葉、セーブしていた自分の闇の部分が露（あらわ）になって、
            自分の身体に、雨が体に染み込んでくるような感じで、闇が染み込んでいくって感じのイメージかな。そして闇に染まった状態になる。闇落ち。でも俺は、実はそれが主人公僕のデフォルトなんじゃないかと思う。<br>
            　そのあと主人公僕は、首を絞めていた女に突き飛ばされて、気をとりもどした。セーフ。</p>

            <p class="my-5">　しかし、主人公僕はなぜいきなり闇落ちしたのだろうか。その疑問の答えは、真下が物語の中盤で伏線を張っていた。それが次の引用文だ。</p>

            <div>
              <figure>
                <blockquote>
                  <p>　この目の前の壁が、独りでに破られるとしたら？それも、こちらから破るのではなく、向こうから破られるのだとしたら？僕はそれを目の前に感じる。
                  何か、取り返しのつかない、黒い、深淵。</p>
                  <figcaption class="blockquote-footer text-end mt-2">
                    {{ book_info.title }}（P107）<cite title="Source Title"></cite>
                  </figcaption>
                </blockquote>
              </figure>
            </div>

            <p class="my-5">　この文の、<strong>"この目の前の壁"</strong>って部分が、たぶん体にしみ込もうとする闇と、保っている自分との境界線のようなものだろう。バリア的やつ。そしてそれは、闇を持つ人間にとっては、
            常に気を張ってバリアを張り続けなくてはいけない。その気を張っている状態が結構疲れるんじゃないかと想像する。そしてそのバリアが外からの刺激で破られたとき、自分自身が闇落ちすると真下は感じていた。
            そして真下は、その資質が主人公僕にもあると確信していた。<br>
            　あと、<strong>"向こうから破られる"</strong>って部分。これが今回の主人公僕の闇落ちの理由だと思った。その原因はそう、佐久間の言葉だ。主人公僕が闇落ちする前日に、
            主人公僕と佐久間はいざこざがあった。その内容は佐久間の一方的な、主人公僕に対する攻撃というか刺激に思えた。そして主人公僕はこう思った。佐久間に自分が拒否されていると。そして佐久間とのいざこざの時、
            主人公が佐久間に手を挙げたことによって、駆け付けた看守の同僚と、上司によって押さえつけられた。これが主人公僕にとっては、社会からの拒絶に等しいんじゃないかと思った。そう、独りぼっち。<br>
            　そして主人公僕や真下のように、闇を抱える人間は人や社会とのつながりが切れたとたん、投げやりな気持ちになって、バリアを保つことができなくなるのではないかとも思った。<br>
            　これが主人公僕の闇落ちの真の原因だと思った。そしてこれは、真下にも当てはまる。真下は自殺する少し前に、特に親しかった友達である主人公僕に拒絶されていた。そう、真下も独りぼっち。真下の場合は、
            闇落ち寸前で自らの命を絶ったって感じかな。しかも闇落ちに対抗するのには、すごく精神エネルギーというか神経すり減らすというか、そんな様子が、次に一部紹介する『真下のノート』に書かれていた。<br>
            　俺は思った。こういう闇を抱える人たちは、独りぼっちにしてはいけないんだなと。常にだれかが、彼らの心に存在していないとダメなんだなと。そう思った。</p>



            <p class="my-5">　そんな感じで主人公僕は、闇落ちして、気を取り戻して、っていうのがあったんだけど。物語の最後にはこんなシーンもあった。</p>


            <div>
              <figure>
                <blockquote>
                  <p>　「僕は･･････」</p>
                  <p>　そう言いながら、僕は泣けて仕方がなかった。</p>
                  <p>　「孤児でよかった」</p>
                  <p>　「ん？」</p>
                  <p>　「あなたに会えた」</p>
                  <p>　あの人は、しばらく前から泣いていた。何度か頷き、ハンカチで目を拭くこともせず、ゆっくりと歩いた。僕の目線は、いつの間にか彼の顎の高さにまでなっていた。</p>
                  <figcaption class="blockquote-footer text-end mt-2">
                    {{ book_info.title }}（P161）<cite title="Source Title"></cite>
                  </figcaption>
                </blockquote>
              </figure>
            </div>

            <div>
              <figure>
                <blockquote>
                  <p>　「あなたは･･････あの人になりたかったんだよ」</p>
                  <figcaption class="blockquote-footer text-end mt-2">
                    {{ book_info.title }}（P164）<cite title="Source Title"></cite>
                  </figcaption>
                </blockquote>
              </figure>
            </div>




            <p class="my-5">　上の引用が、主人公僕が高校卒業と同時に施設を卒業する時の、施設長とのやり取りだ。主人公僕は、幼いころ施設にいるときにも自分自身に潜む闇と戦っていた。<br>
            そしてその戦いに負けそうになった時には、常に施設長が手を差し伸べてくれていた。この差し伸べられた施設長の手は、主人公僕にとっては命の恩人に等しい。そしてまた、施設長も主人公僕に一目置いていたように思う。
            そう、かわいがっていた。そんな主人公僕と施設長の別れのしんみりとしたシーン。ここ、マジ感動。主人公の内にある闇と、葛藤というバックグラウンドがあるからかな。
            たぶん、主人公僕が施設長にどれだけ感謝しているかは、常に闇と戦っていた主人公僕しか理解できないんじゃないかと思う。そう思った時、何かマジ感動した。</p>


            <p class="my-5">　下の引用が、物語の最後。主人公僕と同じ施設にいた恵子が言った一言。この一言で俺は、「あぁ。そうだったのか。」っと、納得した。主人公僕が、なぜ看守の仕事をしているのか、
            なぜ山井という20代の死刑囚のことを気にしているのか、なぜ佐久間の密約を隠ぺいしたのか、それがすべてつながった。単純な一言だけど、すごく深い一言。俺の見解だけど、主人公僕は、
            施設長と同じように、人にとっての希望になりたかったんだと思う、特に自分や真下と同じように闇を抱える人たちの。そう思った。</p>

          {% comment %} <p class="my-5">　 {% endcomment %}

            <div>
              <figure>
                <blockquote>
                  <p>　「あのさ･･････、二人で、近くに引っ越さないか」</p>
                  <p>　「は？」</p><p>　（略）</p>
                  <p>　「･･････わたし、結婚するんだよ」</p>
                  <p>　「だから、それを解消してさ」</p>
                  <p>　それを言うと、恵子は笑った。</p>
                  <p>　「あなたのそういうめちゃくちゃなところは、施設長に似てるよ」</p>
                  <figcaption class="blockquote-footer text-end mt-2">
                    {{ book_info.title }}（P182）<cite title="Source Title"></cite>
                  </figcaption>
                </blockquote>
              </figure>
            </div>




          <p class="my-5">　この文は、見ての通り、主人公僕が恵子に求婚（っていうのかなこれ？）を迫るシーンなんだけど。恵子はもう結婚が決まっていて、相手は堅実なサラリーマンらしいんだけど。
          それをすでに知っている主人公僕と恵子のやり取り。これすごく微笑ましいよね、そしてハッピーエンドって感じ。すごくよかった。</p>

        <h3 class="d-inline my-auto">真下（まか）</h3>


          <p class="my-5">　主人公僕の昔の友達、真下。主人公僕と中学の頃の同級生、高校は別々。俺が思う真下のイメージは、主人公僕と同じ感覚（黒いやつ）を持った、主人公の鑑みたいな感じの存在。ただ唯一の違いは、
          次に感想を述べる、あの人（施設長）に出会っているかいないか。真下はそういう存在に出会っていない。この出会いの有無の違いはすごく大きい。なぜならこの出会いは、
          この現代社会を生きていくための指針というのかな、生きる目的みたいなものかな、そんな感じの自分を保つためのなにか、それを待つか持ってないかが決まってしまうから。
          彼らはそういう生きる指針みたいなものに執着しないと、途端に壊れてしまうから。真下はそういうものを持っていなかった。だから壊れて（自殺して）しまった。そんな主人公僕の鑑のような存在の真下なんだけど。
          そんな真下の印象的な部分がこれだ。</p>



            <div>
              <figure>
                <blockquote>
                    <p>　真下のノート</p>
                    <p>　『何かになりたい。何かになれば、自分は生きていける。そうすれば、自分は自分として、そういう自信の中で、自分を保って生きていける。まだ、今の自分は、仮の姿だ。（略）』</p>
                  <figcaption class="blockquote-footer text-end mt-2">
                    {{ book_info.title }}（P98）<cite title="Source Title"></cite>
                  </figcaption>
                </blockquote>
              </figure>
            </div>




          <p class="my-5">　これは真下が川に飛び降り、自殺した日の翌日に、主人公僕に郵便物で届いた大学ノートの内容。主人公僕に当てらそのノートには、真下の死ぬ直前まで抱いていた思いの本音が書かれているように思う。
          確か主人公僕も真下も、この現代社会に対して嫌悪感を持っていた。両親に対してもそうだし、大人に飼われているという感覚だ。居心地の悪い社会で生きていくのは、
          彼らにとってはそれだけでものすごいストレスになるだろう。だけど真下は気づいていた。何か社会にコミットするための”真の自分”というのを得られれば、この嫌悪感を最小限にとどめられると。
          しかし真下は得られなかった、というより示してくれる誰かがいなかったというべきかな、模範となる人がいなかったんだよ、身近な大人の中に、だから”真の自分”を見つけられなかった。だから嫌悪感に耐えられず自殺。
          って感じ。そう思った。</p>

          <p class="my-5">　この感覚は今リアルの俺らの世界でも結構あるんじゃないかと思う、特に思春期の時期の人たちに。やっぱり人それぞれ育つ環境とかで、葛藤の種類も変わってくるんだろうな。その種類の中には、
          普通に幸せに育った人には理解できないような、黒い感覚を持つ人もいるのかもしれない。そしてその黒い感覚を持つ人たちは、必ずしも悪事を好んでいるわけではないのかもしれない。必然的に、
          今の世の中の物差しで測って、それが悪事と判断される。うん。なんか新しい感性を得た気がする。</p>


        <h3 class="d-inline my-auto">あの人（施設長）</h3>

        <p class="my-5">　謎の人物あの人。物語が進んでいくと、主人公とか真下とか恵子（主人公僕の元恋人）とかが、小さい時に預けられていた施設の、施設長らしいってことがわかった。俺の感じた施設長のイメージは、
        大人の余裕というか、器の大きさというか、そんなのを持つ、暖かい人ってイメージがある。そんな感じの施設長だけど、登場シーンが少ない。その中でも印象に残ってる文がこれだ。</p>

        <div>
          <figure>
            <blockquote>
                  <p>　「現在というのは、どんな過去にも勝る。そのアメーバとお前を繋ぐ無数の生き物の連続は、その何億年の線という、途方もない奇跡の連続は、いいか？全て、今のお前のためだけにあった、と考えていい」</p>
                 <figcaption class="blockquote-footer text-end mt-2">
                {{ book_info.title }}（P155）<cite title="Source Title"></cite>
              </figcaption>
            </blockquote>
          </figure>
        </div>


        <p class="my-5">　これは、施設長が、まだ小学生頃の主人公僕に言った言葉。この言葉、まるで施設長は主人公僕にある闇をすべて理解していて、そのうえで主人公僕に言った言葉に思えた。究極の自己暗示というか、
        自分で自分を肯定するための言葉というか、そんな感じで、主人公が自分自身を保てなくなるのを防ぐための言葉。そんなふうに俺は思った。<br>
        　<strong>"いいか？全て、今のお前のためだけにあった、と考えていい"</strong>特にこの部分すごい。例えば、フットサルがうまくてすごいと褒められるとは、東大に受かってすごいと褒められるとか、自分で自分を褒められるとか、そんな次元の話じゃない。
        この世界ができたこと、この社会が構築されたこと、今の自分を取り巻く環境、それら全てが今の自分のために必然的に作り上げられたもの、という考え方。
        もし本当に落ち込んだ時、自分自身を見失いそうになった時、告白や何かで勇気が出ないとき、失敗を恐れているとき、そんな状況の時にはこの一言を思い出すだけですべてがうまくいくんじゃないかとさえ思う。そんな言葉。
        </p>

<h2 class="decoration_simple my-4 my-lg-5">まとめ</h2>

          <p class="my-5">　いやーすごかった、真っ暗な世界観の中映し出された、最後の小さな希望の光。世界観が暗すぎるせいか、その希望の光が、小さくてもすごく輝いているように見えた。</p>
          <p class="my-5">
          　闇を持つ人間。もし本当に現実にそういう人たちがいたとして、そんな人たちが身近いると怖いかもしれない。だけどその闇を持つ人間には、その人なりの闇に侵されないようにする術（すべ）
          を必死に模索して、葛藤して、生きてるのかもしれない。そんな人すべてが、施設長のような偉大な人間に会えることはまずないろう。そんな時、誰かがこの本の施設長の役割を担わなければならない、
          その時自分が担うとしたら、闇を持つ人間に対してどう立ち振る舞えばいいか。それはこの本の施設長を参考にするといいのかもしれない。</p>



{% comment %} ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ブロックエンド■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ {% endcomment %}

{% comment %} テーブル {% endcomment %}
{% comment %} 

              <div class="table-responsive">
                <table id="" class="table table-striped table-hover table-sm table-bordered table_sticky w-100">
                
                  <thead class="">
                    <tr class="text-center d-inline">
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 200px;" >カテゴリー</th>
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 400px;">カテゴリー説明</th>
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 300px;">キーワード</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in category %}
                    <tr>
                      <td class="text-center table-item fs-6 p-01" style="width: 200px;"><a class="text-decoration-none px-01 text-white" href="{% url 'book:category_info' item.category_eng %}"><span class="d-inline-block px-01 py-0 my-1 rounded btn-{{ item.color }} text-white">{{ item.get_category_display}}</span></a></td>
                      <td class="text-center table-item fs-6 p-01" style="width: 400px;"><a class="text-decoration-none text-dark px-01"><span class="my-1 d-inline-block px-01 py-0">{{item.contents}}</span></a></td>
                      <td class="text-center table-item fs-6 p-01" style="width: 300px;"><a class="text-decoration-none text-dark px-01"><span class="my-1 d-inline-block px-01 py-0">{{item.contents_keyword}}</span></a></td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
 {% endcomment %}



{% comment %} テーブル {% endcomment %}
{% comment %} 
              <div class="table-responsive">
                <table id="" class="table table-striped table-hover table-sm table-bordered table_sticky w-100">
                
                  <thead class="">
                    <tr class="text-center d-inline">
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 200px;" >カテゴリー（青春/白秋）</th>
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 600px;">カテゴリー説明</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center table-item fs-6 p-01 " style="width: 200px;">青春</td>
                      <td class="text-center table-item fs-6 p-01" style="width: 600px;">主人公や周りの登場人物の年齢が、大体<b>０～２９歳</b>で構成される場合、</br>青春/白秋カテゴリーが「<b>Y</b>」（Young）に分類される</td>
                    </tr>
                    <tr>
                      <td class="text-center table-item fs-6 p-01" style="width: 200px;">白秋</td>
                      <td class="text-center table-item fs-6 p-01" style="width: 600px;">主人公や周りの登場人物の年齢が、大体<b>２９歳以上</b>で構成される場合、</br>青春/白秋カテゴリーが「<b>O</b>」（Old）に分類される</td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <p>　青春/白秋は以下参照。</p>
                </div>
              </div>
 {% endcomment %}

{% comment %} 引用 {% endcomment %}
{% comment %} 
              <div>
                <figure>
                  <blockquote>
                    <p>　古代中国の五行思想で、「春」は「青春（せいしゅん）」、夏は「朱夏（しゅか）」、秋は「白秋（はくしゅう）」、冬を「玄冬（げんとう）」といった。これを、人生に当てはめたもの。</p>
                    <p>　幼少期はまだ人として芽吹く前の冬であり「玄冬」。若々しく、これからの未来に希望を膨らませ、成長しつづける時期は「青春」。</p>
                    <p>　世の中で中心的な役割を果たし、バイタリティあふれる活躍を見せる現役世代が「朱夏」の時期。最後の「白秋」は老年期で、人として穏やかな空気やたたずまいを見せ、人生の実りを楽しむ期間。</p>

                    <figcaption class="blockquote-footer text-end">
                      中楽坊<cite title="Source Title">https://www.highness-co.jp/churakubou/detail/216</cite>
                    </figcaption>
                  </blockquote>
                </figure>
              </div>
 {% endcomment %}

  {% comment %} {{ book_info.contents|safe }} {% endcomment %}

{% comment %} </div> {% endcomment %}

{% comment %} </div> {% endcomment %}

</div>
</div>

<script src={% static "js/myjavascript.js" %}></script>

<script>
const titlecontent = document.querySelector('h1').textContent;
title = titlecontent.slice(4, titlecontent.length-4);
const list = document.querySelectorAll('figcaption');
var page = ""
for (let step = 0; step < list.length; step++) {
	page = list[step].textContent.match(/([0-9]+)/i)[0];
	list[step].textContent = title+"(P"+page+")"
}
</script>


{% endblock %}


{% block main_sidebar %}
{% endblock %}


{% block bottom %}
{% endblock %}


