{% extends 'book/base.html' %}


{% block top %}
{% endblock %}

{% block info %}
書籍一覧
{% endblock %}

{% block only_main %}


{% comment %} 
    <form method="post">
        <table>
        {% csrf_token %}
        {% for field in form.book %}
            
        {% endfor %}
        {{ form_book.as_p }}
        {{ form_author.as_p }}
        {{ form_category.as_p }}
        </table>
        <input type="submit" value="保存">
    </form>

     {% endcomment %}

<form class="myform mx-auto py-3 fs-6" action="" method="POST">
    {% if form_book.errors %}
        <div class="errorlist">
            {% for errors in form_book.errors.values %}
                {% for error in errors %}
                    {{ error }}<br>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    {% for field2 in myform %}
    {{field2.0.id_for_label}}
        {% for field in field2 %}
        {% if "high" not in field.id_for_label %}
        <div>
        <div class="d-inline-block mb-1">
        {% endif %}
            {% comment %} {{field.id_for_label}} {% endcomment %}
            {{ field.label_tag }}
            {% if "high" not in field.id_for_label %}
            ：
                {% comment %} <ul class="d-inline-block form-inline px-0 mb-0"> {% endcomment %}
            {% endif %}
            {% if "low" in field.id_for_label and "page" not in field.id_for_label %}
                <ul class="d-inline-block form-inline mb-1 ps-0">
            {% endif %}


                    {{ field }}
            {% if field.help_text %}
                <span class="helptext">{{ field.help_text }}</span>
            {% endif %}
            
            {% if "high" in field.id_for_label %}
                </ul>
            {% endif %}

        {% if "low" not in field.id_for_label %}
        </div>
        </div>
        {% endif %}
    {% endfor %}
    {% endfor %}


<div class="d-grid gap-2 d-md-flex justify-content-md-end py-3">
  <button class="btn bg-white btn-outline-teal btn-sm border-teal" type="submit" >検索</button>
</div>


    {% csrf_token %}
</form>

<div class="row">
    {% for item in book %}

    <div class="col-12 col-lg-9 col-xxl-7 text-center py-1 py-md-2 py-mx-2 px-xl-3 border-gray-dark">
        <div class="text-start text-dark ps-1 fs-7">{{ item.post_day | date:"Y-m-d" }}</div>
        <div class="ratio ratio-138x200 border-gray-dark border">
        <a href ="{% url 'book:book_info' item.post_day %}"  style="z-index: 5;">
            {{ item.amazon_url | safe}}
        </a>
            {% comment %} <a class="bg-teal d-flex align-items-center" href="https://hb.afl.rakuten.co.jp/ichiba/1c8df943.b0cc10a1.1c8df944.22ca7156/_RTLink9016?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fbook%2F12861334%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"><img class="w-100" src="https://hbb.afl.rakuten.co.jp/hgb/1c8df943.b0cc10a1.1c8df944.22ca7156/?me_id=1213310&item_id=17037475&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F1783%2F9784167901783.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" alt="" title=""></a> {% endcomment %}
        </div>
        <div>
        <div class="fw-bold fs-7 fs-lg-5 my-1 my-md-2 py-0 text-truncate-2 h-48 d-table w-100"><a class="text-dark align-middle d-table-cell text-decoration-none" href="{% url 'book:book_info' item.post_day %}">{{ item.title }}</a></div>
        </div>
        <div class="text-start ps-1">
            <div class="fs-7 pb-1"><a><span class="rounded">{{ item.Author_info }}</span><span class="text-{% for item2 in item.category_info.all %}{{item2.color}}{%endfor%}">●</span> </a></div>
            <div class="border-bottom-mygreen my-2 pt-2 my-md-2 my-lg-4 w-75 mx-auto"></div>
            {% comment %} <div class="d-none py-2 py-md-2"></div> {% endcomment %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="" style="height:1px;">
    <div class="position-relative w-100 bg-white" style="height: 20px; top:-30px"></div>
</div>


{% endblock %}                

{% block main_sidebar %}
{% endblock %}


{% block bottom %}
{% endblock %}


