{% extends 'book/base.html' %}
{% load static %}


{% block top %}
{% endblock %}


{% block info %}
カテゴリー一覧
{% endblock %}


{% block only_main %}

<div class="col-36">


  <div class="l_toc table_of_contents text-end">
    {% comment %} <div class="text-end"> {% endcomment %}
      <label class="bg-teal rounded-top text-white fw-blod fs-6 fs-md-5" for="tocopen">
        <svg class="h-100" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
          目次
      </label>
    {% comment %} </div> {% endcomment %}
      <input id="tocopen" class="table_of_contents mt-md-2" type="checkbox" checked>
      <div id="toc" class="text-left toc_container bg-white border-teal-my-1 text-start"></div>
      <div class="m-2 m-md-3 m-lg-5"></div>
  </div>
</div>





<div class="col-36 fs-6 fs-md-5">


          <h2 id="heading_h2_1"class="decoration_simple my-4 mb-lg-3">カテゴリー</h2>
            <h3 id="heading_h3_2" class="d-inline my-auto">oaiue</h3>
          
            {% comment %} <div class="container-fluid"> {% endcomment %}

              <div class="">
                <p>　本のカテゴリーって、<strong>その本を読んだ人がどう思ったか</strong>で決まるんだよね。</p>
                <p>　だから、ある人が<b>その本のカテゴリーを恋愛</b>だと思っても、他の人にとっては<b>その本のカテゴリーは青春だったりミステリーだったり</b>に思うこともある。</p>
                <p>　つまり、その本がどのカテゴリーかと思うかは、<b>人それぞれなんだよね。</b></p>
                <p>　このブログでは、俺がその本を読んだ結果、どのカテゴリーに入るかを<b>主観のみで判断</b>しているので、よろしくお願いします。</p>
                <p>　以下の表が、このブログで使用するカテゴリーと、簡単なイメージ。</p>
              </div>


              <div class="table-responsive">
                <table id="" class="table table-striped table-hover table-sm table-bordered table_sticky w-100">
                
                  <thead class="">
                    <tr class="text-center d-inline">
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 200px;" >カテゴリー</th>
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 400px;">カテゴリー説明</th>
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 300px;">キーワード</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in category %}
                    {% comment %} <li class="nav-item px-01 py-0"> {% endcomment %}
                    <tr>
                      <td class="text-center table-item fs-6 p-01" style="width: 200px;"><a class="text-decoration-none px-01 text-white" href="{% url 'book:category_info' item.category_eng %}"><span class="d-inline-block px-01 py-0 my-1 rounded btn-{{ item.color }} text-white">{{ item.get_category_display}}</span></a></td>
                      <td class="text-center table-item fs-6 p-01" style="width: 400px;"><a class="text-decoration-none text-dark px-01"><span class="my-1 d-inline-block px-01 py-0">{{item.contents}}</span></a></td>
                      <td class="text-center table-item fs-6 p-01" style="width: 300px;"><a class="text-decoration-none text-dark px-01"><span class="my-1 d-inline-block px-01 py-0">{{item.contents_keyword}}</span></a></td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            {% comment %} </div> {% endcomment %}

          <h2 class="decoration_simple my-4 my-lg-5">カテゴリー（青春/白秋）</h2>

            {% comment %} <div class="container-fluid"> {% endcomment %}
            
              <div>
                <p>　このブログでは、カテゴリーとは別に、<b>Young/Old</b>で、大きく<b>２つに分類</b>してる。</p>
                <p>　これは、<b>主人公と登場人物が、若い/若く無い</b>を、意味してる。</p>
                <p>　この方が、後々紹介する本が多くなってきたときに、目的の本に辿りやすいかなと思ったから、独自に追加した。</p>
                <p>　とりあえずチャレンジ。</p>
                <p>　以下の表が、ざっくりした定義。</p>
              </div>

              <div class="table-responsive">
                <table id="" class="table table-striped table-hover table-sm table-bordered table_sticky w-100">
                
                  <thead class="">
                    <tr class="text-center d-inline">
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 200px;" >カテゴリー（青春/白秋）</th>
                      <th class="ps-3 fs-6 text-white bg-teal fw-normal" style="width: 600px;">カテゴリー説明</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center table-item fs-6 p-01 " style="width: 200px;">青春</td>
                      <td class="text-center table-item fs-6 p-01" style="width: 600px;">主人公や周りの登場人物の年齢が、大体<b>０～２９歳</b>で構成される場合、</br>青春/白秋カテゴリーが「<b>Y</b>」（Young）に分類される</td>
                    </tr>
                    <tr>
                      <td class="text-center table-item fs-6 p-01" style="width: 200px;">白秋</td>
                      <td class="text-center table-item fs-6 p-01" style="width: 600px;">主人公や周りの登場人物の年齢が、大体<b>２９歳以上</b>で構成される場合、</br>青春/白秋カテゴリーが「<b>O</b>」（Old）に分類される</td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <p>　青春/白秋は以下参照。</p>
                </div>
              </div>

              <div>
                <figure>
                  <blockquote>
                    <p>　古代中国の五行思想で、「春」は「青春（せいしゅん）」、夏は「朱夏（しゅか）」、秋は「白秋（はくしゅう）」、冬を「玄冬（げんとう）」といった。これを、人生に当てはめたもの。</p>
                    <p>　幼少期はまだ人として芽吹く前の冬であり「玄冬」。若々しく、これからの未来に希望を膨らませ、成長しつづける時期は「青春」。</p>
                    <p>　世の中で中心的な役割を果たし、バイタリティあふれる活躍を見せる現役世代が「朱夏」の時期。最後の「白秋」は老年期で、人として穏やかな空気やたたずまいを見せ、人生の実りを楽しむ期間。</p>

                    <figcaption class="blockquote-footer text-end">
                      中楽坊<cite title="Source Title">https://www.highness-co.jp/churakubou/detail/216</cite>
                    </figcaption>
                  </blockquote>
                </figure>
              </div>
            {% comment %} </div> {% endcomment %}



</div>
<script src={% static "js/myjavascript.js" %}></script>



{% endblock %}                

{% block main_sidebar %}
{% endblock %}


{% block bottom %}
{% endblock %}


