{% extends 'book/base.html' %}


{% block top %}
{% endblock %}

{% block info %}
今後の予定（ToDo LIST）
{% endblock %}


{% block only_main %}

<div class="my-5"></div>

<ul class="delivery_list">
  <li style="list-style-type: circle !important; color: teal"><span class="text-dark">著者ごとの詳細ページを作成</span></li>
</ul>

<ul class="delivery_list">
  <li style="list-style-type: circle !important; color: teal"><span class="text-dark">出版者ごとの詳細ページを作成</span></li>
</ul>

<ul class="delivery_list">
  <li style="list-style-type: circle !important; color: teal"><span class="text-dark">出版社が開催する各賞について作成</span></li>
</ul>

<ul class="delivery_list">
  <li style="list-style-type: circle !important; color: teal"><span class="text-dark">ランキングを作成</span></li>
</ul>

<ul class="delivery_list">
  <li style="list-style-type: circle !important; color: teal"><span class="text-dark">新着情報ページを作成</span></li>
</ul>

<ul class="delivery_list">
  <li style="list-style-type: circle !important; color: teal"><span class="text-dark">Twitter 開設</span></li>
</ul>





{% endblock %}

{% block main_sidebar %}
{% endblock %}


{% block bottom %}
{% endblock %}


