.display-3 {
  font-size: 800;
}

.right {
    margin: 0 0 0 auto;
    text-align: right;
}

.p-5m {
  padding: 1rem !important;
}

@media screen and (min-width:576px) {
    /*　画面サイズが480pxからはここを読み込む　*/
.p-5m {padding: 3rem !important;}
}

small-v, .small-v {
  font-size: 0.6em;
}
.b-b-w3, .b-b-w3 {
  border-bottom-width: 3px
}

.c-table-container {
	width: 100%;
	overflow: auto;
  input, .input{
		word-break: break-all;
    width: 100%;
	}
}

.c-table {
	th,
	td {
		padding: 30px 20px;
		border-bottom: 1px dashed $_col_light_black;
		background-color: $_col_white;
	}
	th, .th{
    width: 1px;
		white-space: nowrap;
		font-weight: 700;
		color: $_col_black;

	}
	td, .td{
		word-break: break-all;
    min-width: 300px;
	}
}

table.c-table:first-child th{
  width: 1px;
  white-space: nowrap;
  font-weight: 700;
  color: $_col_black;

}

table.c-table:first-child td > input ,select, ul{
  word-break: break-all;
  width: 80%;
  max-width: 600px;
}

table.c-table:first-child li {
  display: inline-block;
  padding-right: 3%;
}

table.c-table:first-child ul {
  list-style-type: none;
  padding-left: 0px;
}

table.c-table:first-child td{
  min-width: 300px;
}

  @media (max-width: 576px) {
    table.c-table tbody > tr > td > input , select {
      height: 25px;
      width: 150px;
      }
      table.c-table tbody > tr > td > ul > li > label {
        height: 25px;
        max-width: 150px;
        }
      table.c-table:first-child td{
          min-width: 200px;
        }
      table.c-table tbody > tr > td > ul {
        margin-bottom: 1px;
      }
      table.c-table tbody > tr > th > label {
        font-size: 0.75rem !important;
      }

}


.botton-i {
    position: absolute;
    right: 50%;
    bottom: 50%;
}

@media (min-width: 576px) {
.display-none-initial {
  display: initial !important;
  }
}

@media (max-width: 576px) {
.display-none-initial-r {
  display: initial !important;
  }
  .d-sm-none-r {
    display: none !important;
  }
}

@media (max-width: 768px) {
    .d-md-none-r {
      display: none !important;
    }
  }

.w-90 {
  width: 90% !important;
}

@media (min-width: 576px) {
  .d-sm-form-r {
    height: auto;
    max-width: auto;
}


.d-form-r {
  height: 25px;
  max-width: 150px;
}

table.serch-video-t td {
	background: #eee;
  }
table.serch-video-t tr:nth-child(odd) td {
	background: #fff;
}
@media (min-width: 576px) {
  .w-sm-75 {
    width: 75% !important;
  }

/* td > input, {
  word-break: break-all;
  width: 100%;
} */
