.display-3 {
  font-size: 800;
}

.right {
    margin: 0 0 0 auto;
    text-align: right;
}

.p-5m {
  padding: 1rem !important;
}

@media screen and (min-width:576px) {
    /*　画面サイズが480pxからはここを読み込む　*/
.p-5m {padding: 3rem !important;}
}

small-v, .small-v {
  font-size: 0.6em;
}
.b-b-w3, .b-b-w3 {
  border-bottom-width: 3px
}
